version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    networks:
      - charity_network

  adminer:
    image: adminer:latest
    container_name: adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - charity_network

  lightfm:
    image: bthzang/lightfm-model:latest
    container_name: lightfm
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./resource/lightfm_model.pkl:/app/resource/lightfm_model.pkl
    networks:
      - charity_network

volumes:
  mysql_data:

networks:
  charity_network:
    driver: bridge
