service: cdop-backend
frameworkVersion: "4"

plugins:
  - serverless-wsgi
  - serverless-python-requirements
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: python3.12
  region: ap-southeast-2
  stage: staging
  memorySize: 512
  timeout: 180
  layers:
    - arn:aws:lambda:ap-southeast-2:539247469538:layer:DependencyLayer:1

  vpc:
    securityGroupIds:
      - sg-00f218b4fb5bfdd4c
    subnetIds:
      - subnet-00db13b5b3650fa7e
      - subnet-047e60a132902a289

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
            - s3:PutObject
            - s3:ListBucket
          Resource:
            - arn:aws:s3:::${env:S3_BUCKET_NAME}
            - arn:aws:s3:::${env:S3_BUCKET_NAME}/*

  environment:
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
    MYSQL_HOST: ${env:MYSQL_HOST}
    MYSQL_PORT: ${env:MYSQL_PORT}
    MYSQL_USER: ${env:MYSQL_USER}
    MYSQL_PASSWORD: ${env:MYSQL_PASSWORD}
    MYSQL_DATABASE: ${env:MYSQL_DATABASE}
    JWT_SECRET_KEY: ${env:JWT_SECRET_KEY}
    JWT_EXPIRED_IN_HOURS: ${env:JWT_EXPIRED_IN_HOURS}

custom:
  wsgi:
    app: app.app
    packRequirements: true
  dotenv:
    path: .env

functions:
  getOrganizationList:
    handler: app/wsgi_handler.handler
    events:
      - httpApi:
          apiId: s43b6hqjj6
          method: GET
          path: /organizations

  getCampaignList:
    handler: app/wsgi_handler.handler
    events:
      - httpApi:
          apiId: s43b6hqjj6
          method: GET
          path: /campaigns
