service: cdop-backend
frameworkVersion: "4"

plugins:
  - serverless-wsgi
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: python3.12
  region: ap-southeast-2
  memorySize: 512
  timeout: 180
  layers:
    - arn:aws:lambda:ap-southeast-2:539247469538:layer:DependencyLayer:6

  vpc:
    securityGroupIds:
      - sg-00f218b4fb5bfdd4c
    subnetIds:
      - subnet-0eb51aec86119b476
      - subnet-0b88c11b0ced6ee2d
      - subnet-0b39cd55cc70bdcff

  # iam:
  #   role:
  #     statements:
  #       - Effect: Allow
  #         Action:
  #           - s3:GetObject
  #           - s3:PutObject
  #           - s3:ListBucket
  #         Resource:
  #           - arn:aws:s3:::${env:S3_BUCKET_NAME}
  #           - arn:aws:s3:::${env:S3_BUCKET_NAME}/*

  environment:
    S3_BUCKET_NAME: ${env:S3_BUCKET_NAME}
    MYSQL_HOST: ${env:MYSQL_HOST}
    MYSQL_PORT: ${env:MYSQL_PORT}
    MYSQL_USER: ${env:MYSQL_USER}
    MYSQL_PASSWORD: ${env:MYSQL_PASSWORD}
    MYSQL_DATABASE: ${env:MYSQL_DATABASE}
    JWT_SECRET_KEY: ${env:JWT_SECRET_KEY}
    JWT_EXPIRED_IN_HOURS: ${env:JWT_EXPIRED_IN_HOURS}
    WEB3_PROVIDER_URL: ${env:WEB3_PROVIDER_URL}
    PRIVATE_KEY: ${env:PRIVATE_KEY}
    CONTRACT_ADDRESS: ${env:CONTRACT_ADDRESS}
    MODEL_SERVICE_URL: ${env:MODEL_SERVICE_URL}

custom:
  wsgi:
    app: app.app
    packRequirements: false
  dotenv:
    path: .env

package:
  exclude:
    - node_modules/**
    - venv/**
    - .env
    - tests/**
    - __pycache__/**
    - layer/**
    - layer.zip
  include:
    - app/**

functions:
  getOrganizationList:
    handler: app/wsgi_handler.handler
    events:
      - httpApi:
          method: GET
          path: /organizations

  getCampaignList:
    handler: app/wsgi_handler.handler
    events:
      - httpApi:
          method: GET
          path: /campaigns

  fallback:
    handler: app/wsgi_handler.handler
    events:
      - httpApi:
          method: ANY
          path: /{proxy+}
